<aside class="l-alphabet">
  <ul>
    <li><a href="#">a</a></li>
    <li><a href="#">b</a></li>
    <li><a href="#">c</a></li>
    <li><a href="#">d</a></li>
  </ul>
</aside>

<div class="list-alphabet">
  <button class="list-button" type="button" title="close list">X</button>
  <h3 class="title-main">A</h3>
  <ul>
    <li><a href="#">aaaaaa</a></li>
    <li><a href="#">aaaa222</a></li>
    <li><a href="#">Anna-Lena Obermoser</a></li>
    <li><a href="#">aaabbbb</a></li>
  </ul>
  <h3 class="title-main">B</h3>
  <ul>
    <li><a href="#">bbbbbb</a></li>
    <li><a href="#">baaa222</a></li>
    <li><a href="#">baaaaa323</a></li>
    <li><a href="#">baabbbb</a></li>
  </ul>
  <h3 class="title-main">C</h3>
  <ul>
    <li><a href="#">caaaaa</a></li>
    <li><a href="#">caaa222</a></li>
    <li><a href="#">caaaaa323</a></li>
    <li><a href="#">caabbbb</a></li>
  </ul>
  <h3 class="title-main">A</h3>
  <ul>
    <li><a href="#">aaaaaa</a></li>
    <li><a href="#">aaaa222</a></li>
    <li><a href="#">Anna-Lena Obermoser</a></li>
    <li><a href="#">aaabbbb</a></li>
  </ul>
  <h3 class="title-main">B</h3>
  <ul>
    <li><a href="#">bbbbbb</a></li>
    <li><a href="#">baaa222</a></li>
    <li><a href="#">baaaaa323</a></li>
    <li><a href="#">baabbbb</a></li>
  </ul>
  <h3 class="title-main">C</h3>
  <ul>
    <li><a href="#">caaaaa</a></li>
    <li><a href="#">caaa222</a></li>
    <li><a href="#">caaaaa323</a></li>
    <li><a href="#">caabbbb</a></li>
  </ul>
</div>
