<aside class="l-alphabet">
  <ul>
    <li><a href="#">a</a></li>
    <li><a href="#">b</a></li>
    <li><a href="#">c</a></li>
    <li><a href="#">d</a></li>
  </ul>
</aside>

<div class="list-alphabet">
  <button class="list-button" type="button" title="close list">X</button>
  <h3 class="title-main">A</h3>
  <ul>
    <li><a lhref="single.html">aaaaaa</a></li>
    <li><a href="single.html">aaaa222</a></li>
    <li><a href="single.html">Anna-Lena Obermoser</a></li>
    <li><a href="single.html">aaabbbb</a></li>
  </ul>
  <h3 class="title-main">B</h3>
  <ul>
    <li><a href="single.html">bbbbbb</a></li>
    <li><a href="single.html">baaa222</a></li>
    <li><a href="single.html">baaaaa323</a></li>
    <li><a href="single.html">baabbbb</a></li>
  </ul>
  <h3 class="title-main">C</h3>
  <ul>
    <li><a href="single.html">caaaaa</a></li>
    <li><a href="single.html">caaa222</a></li>
    <li><a href="single.html">caaaaa323</a></li>
    <li><a href="single.html">caabbbb</a></li>
  </ul>
  <h3 class="title-main">A</h3>
  <ul>
    <li><a href="single.html">aaaaaa</a></li>
    <li><a href="single.html">aaaa222</a></li>
    <li><a href="single.html">Anna-Lena Obermoser</a></li>
    <li><a href="single.html">aaabbbb</a></li>
  </ul>
  <h3 class="title-main">B</h3>
  <ul>
    <li><a href="single.html">bbbbbb</a></li>
    <li><a href="single.html">baaa222</a></li>
    <li><a href="single.html">baaaaa323</a></li>
    <li><a href="single.html">baabbbb</a></li>
  </ul>
  <h3 class="title-main">C</h3>
  <ul>
    <li><a href="single.html">caaaaa</a></li>
    <li><a href="single.html">caaa222</a></li>
    <li><a href="single.html">caaaaa323</a></li>
    <li><a href="single.html">caabbbb</a></li>
  </ul>
</div>
