.logo
  margin-bottom: 0
  
.logo-name
  background:
    image: url(/assets/logo.svg)
    size: 134% auto
    position: center center
    repeat: no-repeat
  display: block
  width: 182px
  height: 134px
  margin: 53px auto 0
  text-indent: 999%
  overflow: hidden
  white-space: nowrap

.logo-symbol
  background:
    image: url(/assets/alphaherz.svg)
    size: 107% auto
    position: 2px center
    repeat: no-repeat
  display: block
  width: 182px
  height: 52px
  margin: -30px auto 0
  text-indent: 999%
  overflow: hidden
  white-space: nowrap

.logo-burger
  display: none
